@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Source+Code+Pro:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Inter", "sans-serif";
  font-size: 14px;
  background: white;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.background {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 35%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #f5f7ff), color-stop(0, transparent));
  background: linear-gradient(to bottom, #f5f7ff 100%, transparent 0);
  border-radius: 0 0 1.5rem 1.5rem;
  z-index: 1;
}

main {
  width: 85%;
  margin: 1rem;
  z-index: 1;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-title {
  margin: 1rem 0 0.5rem 0;
  color: #1e202a;
}

.total-number {
  font-weight: 700;
  font-size: 1rem;
  color: #63687e;
}

hr {
  border: 0;
  border-top: 2px solid gray;
  height: 2px;
  margin: 1rem 0 1rem 0;
}

.toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.dark-mode {
  font-weight: 700;
  font-size: 1rem;
  color: #63687e;
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

.switch input {
  height: 0;
  width: 0;
  opacity: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #aeb3cb;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: #f0f2fa;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-image: -webkit-gradient(linear, left top, right top, from(#3eda82), to(#378fe6));
  background-image: linear-gradient(to right, #3eda82, #378fe6);
}

input:checked + .slider::before {
  -webkit-transform: translateX(24px);
          transform: translateX(24px);
  background: #252a41;
}

.slider.round {
  border-radius: 20px;
}

.slider.round::before {
  border-radius: 50%;
}

.accounts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(260px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.big-tile {
  text-align: center;
  padding: 1rem;
  border-radius: 0.3rem;
  background-color: #f0f2fa;
  cursor: pointer;
}

.big-tile:hover {
  background-color: #e3e4f2;
}

.big-tile.facebook {
  border-top: 5px solid #198ff5;
}

.big-tile.twitter {
  border-top: 5px solid #1ca0f2;
}

.big-tile.instagram::before {
  content: "";
  display: block;
  position: relative;
  width: calc(100% + 2rem);
  bottom: 1rem;
  right: 1rem;
  border-radius: 0.3rem 0.3rem 0 0;
  height: 5px;
  background-image: -webkit-gradient(linear, left top, right top, from(#fdc468), to(#df4996));
  background-image: linear-gradient(to right, #fdc468, #df4996);
}

.big-tile.youtube {
  border-top: 5px solid #c4032a;
}

.big-tile > :nth-child(3) {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8rem;
  color: #63687e;
  letter-spacing: 0.4rem;
}

.account-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sub-title {
  margin: 1rem 0 1rem 0;
  font-weight: 700;
  font-size: 1rem;
  color: #63687e;
}

.account-name > img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 0.5rem;
}

.count {
  font-weight: 700;
  font-size: 3.5rem;
  color: #1e202a;
}

.difference {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem 0 1rem 0;
}

.difference.green {
  font-weight: 700;
  font-size: 1rem;
  color: #1db489;
}

.difference.red {
  font-weight: 700;
  font-size: 1rem;
  color: #dc414c;
}

.difference > img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 5px;
}

.small-title {
  margin: 2rem 0 1rem 0;
  font-weight: 700;
  font-size: 1.5rem;
  color: #1e202a;
}

.stats {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(260px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.small-tile {
  background-color: #f0f2fa;
  border-radius: 0.3rem;
  padding: 2rem;
  cursor: pointer;
}

.small-tile:hover {
  background-color: #e3e4f2;
}

.stats-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
  font-weight: 400;
  font-size: 1rem;
  color: #63687e;
}

.stats-title > img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.daily-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.small-count {
  font-weight: 700;
  font-size: 2rem;
  color: #1e202a;
}

.daily-difference {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.daily-difference.green {
  font-weight: 700;
  font-size: 1rem;
  color: #1db489;
}

.daily-difference.red {
  font-weight: 700;
  font-size: 1rem;
  color: #dc414c;
}

.daily-difference > img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 5px;
}

.attribution {
  font-family: "Source Code Pro", monospace;
  margin: 1rem;
  text-align: center;
}

.attribution > a {
  color: inherit;
}

.dt-body {
  background: #1f212e;
}

.dt-bg {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #1e202a), color-stop(0, transparent));
  background: linear-gradient(to bottom, #1e202a 100%, transparent 0);
}

.dt-tile {
  background-color: #252a41;
}

.dt-text {
  color: #8b97c6;
}

.dt-count {
  color: white;
}

.dt-numbers {
  color: white;
}

.dt-hover:hover {
  background-color: #333a57;
}

@media screen and (min-width: 376px) {
  hr {
    display: none;
  }
  .toggle {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .toggle > p {
    margin-right: 1rem;
  }
}

@media screen and (min-width: 983px) and (max-width: 1322px) {
  .accounts,
  .stats {
    -ms-grid-columns: (minmax(260px, 1fr))[2];
        grid-template-columns: repeat(2, minmax(260px, 1fr));
  }
}

@media screen and (min-width: 1661px) {
  .stats {
    -ms-grid-columns: (minmax(260px, 1fr))[4];
        grid-template-columns: repeat(4, minmax(260px, 1fr));
  }
}
